* {
  box-sizing: border-box;
}

.container {
  width: 30%;
  margin: auto;
}

.row {
  display: flex;
  flex-basis: 25%;
}

.calc-key {
  height: 100px;
  width: 25%;
  font-weight: bold;
  font-size: 1.5em;
}